a{
    text-decoration: none;
    color: #fff;
}

.header{
    position:fixed;
    background: #007765;
    height: 84px;
    width: 100%;
    z-index: 10;
    top: 0;
}

.header .logo{
    height: 45px;
    width: 184px;
    z-index: 11;
}

.head-block{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1219px;
    height: 84px;
    text-align: right;
}

.head-block .logo{
    position: relative;
    right: 82%;
    top: 22px
}

.menu{
    position: relative;
    bottom: 45px;
    right: 2%;
}

.menu p{
    display: inline-block;
    font-size: 24px; 
    font-family: sans-serif;
    margin-right: 10px;
    color: #fff;
}

.Jumbotron{
    display: block;
    position: static;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 403px;
    background: url(images/jumbotron.png) no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
}

.Jumbotron p{
    display: block;
    color: white;
    font-size: 72px;
    font-family: sans-serif;
    text-align: center;
    line-height: 403px;
}

.problem{
    display: block;
    position: relative;
    width: auto;
    height: 719px;
    background-color: #EEEEEE;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    font-size: 32px;
    
}

.problem .content{
    display:block;
    position: absolute;
    top: 50%;
    margin-top: -2em;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 1219px;
    height: 579px;
    padding: 55px;
}

.problem .title{
    position: relative;
    top: 15px;
}

.title{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    color: #007765;
    font-size: 64px;
    text-align: center;
}

.hero{
    display: block;
    position: static;
    width: 100%;
    height: 483px;
    background: url(images/hero.png) no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 128px;
}

.hero p{
    display: block;
    position: relative;
    color: white;
    font-size: 48px;
    font-family: sans-serif;
    width: 893px;
    height: 228px;
    margin-left: auto;
    margin-right: auto;
}

.ppc{
    display: block;
    position: relative;
    width: auto;
    height: 609px;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    font-size: 32px;
    padding: 55px;
}

.ppc>.content{
    display:block;
    position: absolute;
    top: 330px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 1219px;
    height: 604px;
}

.ppc .text{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 1110px;
    height: 488px;
}

.ppc .logo{
    float: left;
    height: 115px;
    width: 115px;
    padding-left: 50px;
    margin-right: 48px;
}

.team{
    display: block;
    position: relative;
    width: auto;
    height: 845px;
    background-color: #EEEEEE;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    font-size: 32px;
    padding: 55px;
    margin-bottom: -1em;
}

.team .content{
    display:block;
    position: relative;
    top: 330px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 1219px;
}

.sotr i{
    color: black;
    font-size: 18px;
}

.sotr .image{
    height: 168px;
    width: 168px;
}

.sotr{
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    grid-template-rows: repeat(2, 4fr);
    grid-row-gap: 60px;
    font-size: 24px;
    color: #007765;
    text-align: center;
    line-height: 0.1em;
}

.richard{
    grid-column: 1/2;
    grid-row: 1/2;
}

.dinesh{
    grid-column: 2/3;
    grid-row: 1/2;
}

.gilfoyle{
    grid-column: 3/4;
    grid-row: 1/2;
}

.jared{
    grid-column: 1/2;
    grid-row: 2/3;
}

.monica{
    grid-column: 2/3;
    grid-row: 2/3;
}

.nelson{
    grid-column: 3/4;
    grid-row: 2/3;
}

.bg{
    display: block;
    position: relative;
    text-align: center;
    background: #333333;
    font-family: sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    height: 176px;
    margin-left: auto;
    margin-right: auto;
}

.bg p{
    display: block;
    position: relative;
    height: 64px;
    width: 540px;
    margin-left: auto;
    margin-right: auto;
    padding: 48px;
}